<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>Lista Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" 
              content="width=device-width,
              initial-scale=1.0">
        <script type="text/javascript" src="vendor/js/angular.min.js"></script>
        <script type="text/javascript" src="js/myApp.js"></script>
        <script type="text/javaScript" src="js/controller/UsuarioController.js"></script>
        <script type="text/javaScript" src="js/factory/UsuarioFactory.js"></script>


    </head>
    <body ng-controller="UsuarioController"ng-init="buscaUsuarios()">
        <div ng-hide="editando">
            <h1> Cadastro </h1>
        </div>
        <div ng-show="editando">
            <h1> Editar </h1>
        </div>


        <form>
            <div>
                <label>Nome: </label>
                <input ng-model="usuario.nome" type="text"
                       placeholder="Digite seu Nome" >
            </div>
            <div>
                <label>Login: </label>
                <input ng-model="usuario.long" type="text"
                       placeholder="Digite seu Login" >
            </div>
            <div>
                <label>Ativo: </label>
                <input ng-model="usuario.long" type="text" 
                       placeholder="Digite seu IdGrupo" >
            </div>
            <div>
                <label>idGrupo: </label>
                <input ng-model="usuario.idGrupo" type="text" 
                       placeholder="Digite seu Ativo" >  
            </div>
            <div>
                <label>Senha: </label>
                <input ng-model="usuario.senha" type="text" 
                       placeholder="Digite seu Ativo" >
            </div>
            <div>
                <button ng-show="editando" type="submit">Salvar</button>
                <button ng-hide="editando" type="submit">Editar</button>
            </div>
        </form>
        <div>
            <h1> lista Usuario </h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>IdUsuario</th>
                            <th>IdGrupo</th>
                            <th>Login</th>
                            <th>Nome</th>
                            <th>Atvio</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tboby>
                        <tr ng-repeat="item in dados">
                            <td>{{item.idUsuario}}</td>
                            <td>{{item.idGrupo}}</td>
                            <td>{{item.login}}</td>
                            <td>{{item.nome}}</td>
                            <td>{{item.atvio}}</td>
                            <td>
                                <button ng-click="editarUsuario()">Editar</button>
                                <button>Remover</button>
                            </td>
                        </tr>
                    </tboby>
                </table>    
            </div>       


        </div>
    </body>
</html>
